/*variables colors*/

$white: #fff;
$black: #000;
$yellow: #fecc2f;
$mediumGray: #999;
$darkGray: #555;
$lightGray: #f4f4f4;

/* Social Icons Colors */

$iconRss: #F56505;
$facebook:#3B5998;
$twitter:#33ccff;
$google: #BD3518;
$linkedin: #007bb7;


